*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#box-container{
  position: relative;
  height: 300px;
  width: 500px;
  border: 2px solid black;
  background-color: black;
}
#box {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50;
  background-color: red;
}