*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#box-container{
  margin: 100px;
  position: relative;
  height: 300px;
  width: 500px;
  border: 2px solid black;
  background-color: black;
}
#box {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 10%;
  background-color: royalblue;
}